[package]
name = "pevm"
version = "0.1.0"
edition = "2021"

[features]
optimism = [
    "revm/optimism",
    "dep:op-alloy-consensus",
    "dep:op-alloy-network",
    "dep:op-alloy-rpc-types",
]

[[bin]]
name = "fetch"
path = "bin/fetch.rs"

[dependencies]
# Put this behind a feature flag if there are use cases & users
# that need more security guarantees even for internally hashing
# EVM memory locations (we do not persist these hashes).
ahash = { version = "0.8.11", features = ["serde"] }
alloy-chains = "0.1.33"
alloy-consensus = "0.3.6"
alloy-primitives = { version = "0.8.3", features = ["asm-keccak"] }
alloy-rlp = "0.3.8"
alloy-rpc-types = "0.3.6"
alloy-trie = "0.5.3"
# We can roll our own but [revm] depends on this anyway.
bitflags = "2.6.0"
bitvec = "1.0.1"
dashmap = "6.1.0"
serde = "1.0.210"
smallvec = "1.13.2"

# Let's do our best to port needed REVM changes upstream
revm = { git = "https://github.com/risechain/revm", rev = "1ad0b38dd50e421b057d6cd73d2e18de04fad095", features = [
    "serde",
] }

# RPC Storage dependencies
# TODO: Put these behind an RPC flag to not pollute the core
# library with RPC network & transport dependencies, etc.
alloy-provider = "0.3.6"
alloy-transport = "0.3.6"
alloy-transport-http = "0.3.6"
reqwest = "0.12.7"
tokio = { version = "1.40.0", features = ["rt-multi-thread"] }

# CLI dependencies
serde_json = { version = "1.0.127", features = ["preserve_order"] }
bincode = "1.3.3"
clap = { version = "4.5.17", features = ["derive"] }

# OP dependencies
op-alloy-consensus = { version = "0.2.12", optional = true }
op-alloy-network = { version = "0.2.12", optional = true }
op-alloy-rpc-types = { version = "0.2.12", optional = true }

[dev-dependencies]
criterion = "0.5.1"
rand = "0.8.5"
rayon = "1.10.0"
revme = { git = "https://github.com/risechain/revm", rev = "1ad0b38dd50e421b057d6cd73d2e18de04fad095" }
rpmalloc = { version = "0.2.2", features = ["thread_cache", "global_cache"] }
snmalloc-rs = "0.3.6"
tikv-jemallocator = "0.6.0"
walkdir = "2.5.0"

[lints]
rust.missing_debug_implementations = "warn"
rust.missing_docs = "warn"
rust.unreachable_pub = "warn"

[[bench]]
name = "mainnet"
harness = false

[[bench]]
name = "gigagas"
harness = false

[profile.release]
codegen-units = 1
panic = "abort"
lto = "fat"
