[workspace]
default-members = ["crates/pevm"]
members = ["bins/fetch", "crates/pevm"]
resolver = "2"

[profile.release]
codegen-units = 1
lto = "fat"
panic = "abort"

[profile.profiling]
debug = "full"
inherits = "release"

[workspace.lints]
rust.missing_debug_implementations = "warn"
rust.missing_docs = "warn"
rust.rust_2018_idioms = "warn"
rust.unreachable_pub = "warn"

[workspace.lints.clippy]
cloned_instead_of_copied = "warn"
derive_partial_eq_without_eq = "warn"
doc_markdown = "warn"
explicit_iter_loop = "warn"
if_not_else = "warn"
if_then_some_else_none = "warn"
match_same_arms = "warn"
missing_const_for_fn = "warn"
redundant_clone = "warn"
redundant_else = "warn"
type_repetition_in_bounds = "warn"
unnested_or_patterns = "warn"
use_self = "warn"

[workspace.dependencies]
pevm = { path = "crates/pevm", features = ["full"] }

# alloy
alloy-chains = "0.1.47"
alloy-consensus = "0.6.4"
alloy-primitives = { version = "0.8.13", features = [
  "asm-keccak",
  "map-fxhash",
] }
alloy-provider = "0.6.4"
alloy-rlp = "0.3.9"
alloy-rpc-types-eth = "0.6.4"
alloy-transport = "0.6.4"
alloy-transport-http = "0.6.4"
alloy-trie = "0.7.4"

# Will remove [revm] with https://github.com/risechain/pevm/issues/382.
revm = { git = "https://github.com/risechain/revm", rev = "94a69feabb941c43d0d554cd8fa689a3d6904274", features = [
  "serde",
] }
revme = { git = "https://github.com/risechain/revm", rev = "94a69feabb941c43d0d554cd8fa689a3d6904274" }

# OP
op-alloy-consensus = "0.6.8"
op-alloy-network = "0.6.8"
op-alloy-rpc-types = "0.6.8"

# Allocators
rpmalloc = { version = "0.2.2", features = ["thread_cache", "global_cache"] }
snmalloc-rs = "0.3.6"
tikv-jemallocator = "0.6.0"

bincode = "1.3.3"
# We can roll our own but [revm] depends on this anyway.
bitflags = "2.6.0"
bitvec = "1.0.1"
clap = { version = "4.5.21", features = ["derive"] }
criterion = "0.5.1"
dashmap = "6.1.0"
flate2 = "1.0.35"
hashbrown = "0.15.2"
rand = "0.8.5"
rayon = "1.10.0"
reqwest = "0.12.9"
rustc-hash = "2.0.0"
serde = "1.0.215"
serde_json = "1.0.133"
smallvec = "1.13.2"
thiserror = "2.0.3"
tokio = { version = "1.41.1", features = ["rt-multi-thread"] }
walkdir = "2.5.0"
