[package]
name = "pevm"
version = "0.1.0"
edition = "2021"

[features]
optimism = [
    "revm/optimism",
    "dep:op-alloy-consensus",
    "dep:op-alloy-network",
    "dep:op-alloy-rpc-types",
]

[[bin]]
name = "fetch"
path = "bin/fetch.rs"

[dependencies]
# Put this behind a feature flag if there are use cases & users
# that need more security guarantees even for internally hashing
# EVM memory locations (we do not persist these hashes).
ahash = { version = "0.8.11", features = ["serde"] }
alloy-chains = "0.1.35"
alloy-consensus = "0.4.2"
alloy-primitives = { version = "0.8.5", features = ["asm-keccak"] }
alloy-rlp = "0.3.8"
alloy-rpc-types = "0.4.2"
alloy-trie = "0.6.0"
# We can roll our own but [revm] depends on this anyway.
bitflags = "2.6.0"
bitvec = "1.0.1"
dashmap = "6.1.0"
serde = "1.0.210"
smallvec = "1.13.2"

# Let's do our best to port needed REVM changes upstream
revm = { git = "https://github.com/risechain/revm", rev = "72a1b18a87fced07a0f44e40e83e2f28750a27ff", features = [
    "serde",
] }

# RPC Storage dependencies
# TODO: Put these behind an RPC flag to not pollute the core
# library with RPC network & transport dependencies, etc.
alloy-provider = "0.4.2"
alloy-transport = "0.4.2"
alloy-transport-http = "0.4.2"
reqwest = "0.12.8"
tokio = { version = "1.40.0", features = ["rt-multi-thread"] }

# CLI dependencies
bincode = "1.3.3"
clap = { version = "4.5.19", features = ["derive"] }
flate2 = "1.0.34"
serde_json = { version = "1.0.128", features = ["preserve_order"] }

# OP dependencies
op-alloy-consensus = { version = "0.3.3", optional = true }
op-alloy-network = { version = "0.3.3", optional = true }
op-alloy-rpc-types = { version = "0.3.3", optional = true }
thiserror = "1.0.64"

[dev-dependencies]
criterion = "0.5.1"
rand = "0.8.5"
rayon = "1.10.0"
revme = { git = "https://github.com/risechain/revm", rev = "72a1b18a87fced07a0f44e40e83e2f28750a27ff" }
rpmalloc = { version = "0.2.2", features = ["thread_cache", "global_cache"] }
snmalloc-rs = "0.3.6"
tikv-jemallocator = "0.6.0"
walkdir = "2.5.0"

[lints]
rust.missing_debug_implementations = "warn"
rust.missing_docs = "warn"
rust.unreachable_pub = "warn"

[[bench]]
name = "mainnet"
harness = false

[[bench]]
name = "gigagas"
harness = false

[profile.release]
codegen-units = 1
panic = "abort"
lto = "fat"
